.resultat {
    padding: 3%;
    max-width: 100vw;
    width: 30vw;
    background-color: white;
}

.titre {
    overflow: hidden;
}

.titre h1 {
    display: inline-block;
    margin: 0;
}

.titre button {
    float: right;
    /* Pousse le bouton à droite */
    vertical-align: middle;
}

.content {
    max-height: 50vh;
    overflow-y: auto;
    margin-bottom: 5vh;
}

.total table,
.content table {
    width: 100%;
}

.right-align {
    text-align: right;
}